<html>
<head>
<title>Control View</title>
</head>
<body>

{% if instruments %}
    <center>
        <h1>Available Workflows</h1>
        <br />
        Regular BCW uses Condor file transfer
        <br />
        iRODS BCW fetches datasets from iRODS
        <br />
        <br />
        <table border="1">
            <tr>
                <td><b>Intrument/Mode</b></td>
                <td><b># of Datasets</b></td>
            </tr>
        
        {% for instrument in instruments %}
            <tr>
                <td>
                    <a href="{{ instrument.name }}/">
                        {{ instrument.link_name }}
                    </a>
                </td>
                <td>
                    {{ instrument.datasets|length }}
                </td>
        {% endfor %}
        </table>
    </center>
{% else %}
    <h1>No intrument/mode defined.</h1>
{% endif %}


<br />
<br />
<center>
    <a href="/control/">Submit Jobs</a> | 
    <a href="/monitor/">Monitor Jobs</a> | 
    <a href="/inventory/">Machine Inventory</a>
</center>
</body>
</html>
