<html>
<head>
<title>
    Process View for {{ instrument.name }} {{ dataset.name }} {{ exposure }}
</title>
</head>
<body>

<center>
    <h1>
        Process View for {{ instrument.name }} {{ dataset.name }} {{ exposure }}
    </h1>
    
    <table border="0">
        <tr>
            <td>
                Submitted job by executing <br />
                <b>{{ command }}</b>
                <br />
                Exit code: {{ exit_code }}
            </td>
        </tr>
        <tr>
            <td>
                <br />
                <br />
                <br />
                <center>
                    Now switch to the <a href="/monitor/">monitor view</a> to 
                    check on your newly submitted job (it might take a moment 
                    for the monitor interface to pick it up).
                </center>
            </td>
        </tr>
    </table>
</center>

<br />
<br />
<center>
    <a href="/control/">Submit Jobs</a> | 
    <a href="/monitor/">Monitor Jobs</a> | 
    <a href="/inventory/">Machine Inventory</a>
</center>
</body>
</html>
