<html>
<head>
<meta http-equiv="refresh" content="5" />
<title>Process View</title>
</head>
<body>

{% if entries %}
    <center>
        <table border="1">
            <tr>
                <td><b>Request #</b></td>
                <td><b>Dataset</b></td>
                <td><b>User</b></td>
                <td><b>Start Time</b></td>
                <td><b>Process Name</b></td>
                <td><b>Parent Names</b></td>
                <td><b>State</b></td>
                <td><b>Duration (s)</b></td>
                <td><b>Exit Code</b></td>
                <td><b>Detail</b></td>
                <td><b>Hold/Release</b></td>
            </tr>

        {% for e in entries %}
            <tr>
                <td>
                    {% if e.DAGManJobId %}
                    <a href="/monitor/request/{{ e.RequestId }}/">
                        {{ e.DAGManJobId }}
                    </a>
                    {% else %}
                    N/A
                    {% endif %}
                </td>
                <td>
                    <a href="/monitor/dataset/{{ e.Dataset }}">
                        {{ e.Dataset }}
                    </a>
                </td>
                <td>
                    <a href="/monitor/user/{{ e.Owner }}/">{{ e.Owner }}</a>
                </td>
                <td>
                    {{ e.JobStartDate }}
                </td>
                <td>
                    {{ e.DAGNodeName }}
                </td>
                <td>
                    {{ e.DAGParentNodeNames }}
                </td>
                <td>
                    <!-- Remember that a condor job put on hold has a ExitCode = None and JobState = Exited -->
                    {% if e.ExitCode == None and e.JobState == "Exited" %}
                        On Hold
                    {% else %}
                        {{ e.JobState }}
                    {% endif %}
                </td>
                <td>
                    {{ e.JobDuration }}
                </td>
                {% if e.ExitCode != 0 %}
                    {% if e.ExitCode != None %}
                        <td bgcolor="#FF0000">{{ e.ExitCode }}</td>
                    {% else %}
                        <td>N/A</td>
                    {% endif %}
                {% else %}
                    <td>{{ e.ExitCode }}</td>
                {% endif %}
                <td>
                    <a href="/monitor/entry/{{ e.GlobalJobId|urlencode }}/">
                        More Info
                    </a>
                </td>
                <td>
                    {% if e.ExitCode == None and e.JobState == "Exited" and e.Owner == "apache" %}
                        <a href="/monitor/release/{{ e.ClusterId }}.{{ e.ProcId }}">Release</a>
                    {% endif %}
                    {% if e.ExitCode == None and e.JobState == "Running" and e.Owner == "apache" %}
                        <a href="/monitor/hold/{{ e.ClusterId }}.{{ e.ProcId }}">Hold</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </table>
    </center>
{% else %}
    <h1>No blackboard entries are available.</h1>
{% endif %}


<br />
<br />
<center>
    <a href="/control/">Submit Jobs</a> |
    <a href="/monitor/">Monitor Jobs</a> |
    <a href="/inventory/">Machine Inventory</a>
</center>
</body>
</html>
